.articleInfo > span:first-child {
    padding: 1px 3px;
    border-radius: 5px;
    background-color: #1890ff;
    margin-right: 10px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    border: 1px solid #1890ff;
    text-align: center;
    color: white;
}

.articleInfo {
    margin-bottom: 15px;
}

.articleInfo > span > a {
    color: black !important;
    max-width: 300px;
}


