#mobileArticle {
    padding: 20px;
}

#mobileArticleTitle {
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
    display: inline;
    position: relative;
    top: 3px;
}

#mobileArticleDate {
    font-size: 20px;
    margin-top: 15px;
}

#mobileTitleDivider {
    border-left: 1px solid #404040;
    margin: 0px 35px;
    font-size: 25px;
}

.mobileArticleT {
    border: 1px solid #000;
    padding: 10px;
}

.mobileArticleH1 {
    font-size: 1.8em;
    font-weight: 600;
    margin: 0 0 0.6em;
}

.mobileArticleH2 {
    font-size: 1.6em;
    font-weight: 600;
    margin: 0 0 0.6em;
}

.mobileArticleH3 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 0 0 0.6em;
}

.mobileArticleH4 {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 0.6em;
}

.mobileArticleH5 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0 0.6em;
}

.autoFlip {
    -webkit-animation: flip 2s linear 0s infinite;
}

@keyframes flip {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

