#background {
    background-image: url("../../assets/ionia-the-first-lands.jpg");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    background-attachment: fixed;
    z-index: -9999;
}

#background:before {
    background-image: url("../../assets/bk_cover.png");
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    background-attachment: fixed;
}

#blurBox {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    top: 50%;
    z-index: 10;
    color: white;
    padding: 24px;
}

#blurBox > p:first-child {
    margin: 0px;
}

#blurBox > p:nth-child(2) {
    margin-bottom: 5px;
}

#blurBox > p:last-child > button {
    margin-right: 10px;
}

#blurBoxTitle {
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
}

#content {
    padding: 20px;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #f9f9f9;
}

#archives {
    padding: 30px;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 25px;
}

#archives > div:nth-child(2) {
    margin-bottom: 0px;
}

#archives > div:nth-child(3) > div > div > ul > li > div {
    margin-bottom: 0px;
}

#archives > div:nth-child(3) > div > div > ul > li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#archives > div:nth-child(3) > div > div > ul > li > div > div > div > div > span {
    margin-right: 20px;
}

#archives > div:nth-child(3) > div > div > ul > li > div > div > div > div {
    margin-bottom: 10px;
}

#archives > div:nth-child(3) > div:nth-child(2) {
    text-align: center;
}

#essays {
    padding: 30px;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 25px;
}

#essays > h3 > i {
    margin-right: 7px;
}

#essays > div:nth-child(2) {
    margin-bottom: 10px;
}

#essays > div:nth-child(3) > div > div > ul > li > div {
    margin-bottom: 10px;
}

#essays > div:nth-child(3) > div > div > ul > li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#archives > h3 > i {
    margin-right: 7px;
}

#activities {
    border: 1px solid #e1e4e8 !important;
    list-style: none;
    border-color: #d1d5da !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 40px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
}

#activities > li {
    height: 16px;
    overflow: hidden;
}

#activities > li:first-child {
    text-align: left;
    padding-left: 42px;
    font-size: 10px;
}

#activities > li:first-child > div {
    margin-right: 46px;
}

.square {
    display: inline-block;
    margin-right: 3px;
    width: 12px;
    height: 12px;
    background-color: rgb(235, 237, 240);
}

.weekTitle {
    display: inline-block;
    display: inline-block;
    width: 20px;
    font-size: 9px;
    fill: #767676;
    margin-right: 5px;
    height: 12px;
}

#teamcity {
    content: none;
    -webkit-mask-image: radial-gradient(8px, transparent 71.875%, white 78.125%);
    background-image: conic-gradient(#ff00eb, #bd3bff, #008eff, #58ba00, #f48700, #ff00eb);
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    content: '';
    /*animation: pulse_7f1 0.85s cubic-bezier(0.68, 0, 0.74, 0.74) infinite alternate;*/
    animation: rotate 0.75s linear infinite;
    transform-origin: 50% 50%;
    border-radius: 10px;
    position: relative;
    top: 1.5px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


