#background {
    background-image: url("../../assets/ionia-the-first-lands.jpg");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    background-attachment: fixed;
    z-index: -9999;
}

#background:before {
    background-image: url("../../assets/bk_cover.png");
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    background-attachment: fixed;
}

#blurBox {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    top: 50%;
    z-index: 10;
    color: white;
    padding: 24px;
}

#blurBox > p:first-child {
    margin: 0px;
}

#blurBox > p:nth-child(2) {
    margin-bottom: 5px;
}

#blurBox > p:last-child > button {
    margin-right: 10px;
}

#blurBoxTitle {
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

#content {
    padding: 20px;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #f9f9f9;
}

#archives {
    padding: 30px;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 25px;
}

#archives > div:nth-child(2) {
    margin-bottom: 0px;
}

#archives > div:nth-child(3) > div > div > ul > li > div {
    margin-bottom: 0px;
}

#archives > div:nth-child(3) > div > div > ul > li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#archives > div:nth-child(3) > div > div > ul > li > div > div > div > div > span {
    margin-right: 20px;
}

#archives > div:nth-child(3) > div > div > ul > li > div > div > div > div {
    margin-bottom: 10px;
}

#archives > div:nth-child(3) > div:nth-child(2) {
    text-align: center;
}

#essays {
    padding: 30px;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 25px;
}

#essays > h3 > i {
    margin-right: 7px;
}

#essays > div:nth-child(2) {
    margin-bottom: 0px;
}

#essays > div:nth-child(3) > div > div > ul > li > div {
    margin-bottom: 10px;
}

#essays > div:nth-child(3) > div > div > ul > li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#archives > h3 > i {
    margin-right: 7px;
}

#activities {
    border: 1px solid #e1e4e8 !important;
    list-style: none;
    border-color: #d1d5da !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 40px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
}

#activities > li {
    height: 16px;
    overflow: hidden;
}

#activities > li:first-child {
    text-align: left;
    padding-left: 2vw;
    font-size: 10px;
}

#activities > li:first-child > div:first-child {
    margin-right: 3.6vw;
}

#activities > li:first-child > div:nth-child(2) {
    margin-right: 2.6vw;
}

#activities > li:first-child > div:nth-child(3) {
    margin-right: 3.5vw;
}

#activities > li:first-child > div:nth-child(4) {
    margin-right: 2.4vw;
}

#activities > li:first-child > div:nth-child(5) {
    margin-right: 3vw;
}

#activities > li:first-child > div:nth-child(6) {
    margin-right: 3vw;
}

#activities > li:first-child > div:nth-child(7) {
    margin-right: 2.6vw;
}

#activities > li:first-child > div:nth-child(8) {
    margin-right: 2.6vw;
}

#activities > li:first-child > div:nth-child(9) {
    margin-right: 2.7vw;
}

#activities > li:first-child > div:nth-child(10) {
    margin-right: 2.7vw;
}

#activities > li:first-child > div:nth-child(11) {
    margin-right: 3.2vw;
}

.square {
    display: inline-block;
    margin-right: 0.2vw;
    width: 0.8vw;
    height: 0.8vw;
    background-color: rgb(235, 237, 240);
}

.weekTitle {
    display: inline-block;
    display: inline-block;
    width: 1.5vw;
    font-size: 9px;
    fill: #767676;
    margin-right: 0.2vw;
    height: 0.8vw;
}

#teamcity {
    content: none;
    -webkit-mask-image: radial-gradient(8px, transparent 71.875%, white 78.125%);
    mask: radial-gradient(8px, transparent 71.875%, white 78.125%);
    background: conic-gradient(#ff00eb, #bd3bff, #008eff, #58ba00, #f48700, #ff00eb);
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    content: '';
    /*animation: pulse_7f1 0.85s cubic-bezier(0.68, 0, 0.74, 0.74) infinite alternate;*/
    animation: rotate 0.75s linear infinite;
    transform-origin: 50% 50%;
    border-radius: 10px;
    position: relative;
    top: 1.5px;
}

.gradientBlock {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 5vh;
    background: linear-gradient(#ffffff, #f9f9f9);
    z-index: 100;
}

.wave {
    position: absolute;
    height: 110px;
    width: 100%;
    overflow: hidden;
    bottom: 0px;
    z-index: 99;
    transition: .4s ease all;
}

.wave #wave1, .wave #wave2 {
    position: absolute;
    width: 200%;
    height: 100%;
    background-size: 50% 100%;
}

.wave #wave1 {
    top: 30px;
    left: -100%;
    opacity: 1;
    animation: water-right 20s infinite linear;
    background: url('../../assets/wave1.png') repeat-x;
}

.wave #wave2 {
    top: 30px;
    left: 0;
    opacity: 1;
    animation: water-left 30s infinite linear;
    background: url('../../assets/wave1.png') repeat-x;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes water-right {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        transform: translateX(25%) translateZ(0) scaleY(0.85);
    }
    100% {
        transform: translateX(50%) translateZ(0) scaleY(1);
    }
}

@keyframes water-left {
    0% {
        transform: translate(0%, 0px);
    }

    100% {
        transform: translate(-50%, 0px);
    }
}

/*只有hover时才显示滚动条*/
.starScroll > div:nth-child(2) > div ::-webkit-scrollbar {
    display: none;
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.starScroll > div:nth-child(2) > div > div:hover::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(245, 245, 245, 0.47);
    display: block;
}

/*定义滚动条的轨道，内阴影及圆角*/
.starScroll > div:nth-child(2) > div > div:hover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

/*定义滑块，内阴影及圆角*/
.starScroll > div:nth-child(2) > div > div:hover::-webkit-scrollbar-thumb {
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #87CEFA;
}

.ant-list-vertical .ant-list-item-meta-title {
    font-size: 20px;
    font-weight: bold;
}
