#background {
    background-image: url("../../assets/ionia-the-first-lands.jpg");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    background-attachment: fixed;
    z-index: -9999;
}

#background:before {
    background-image: url("../../assets/bk_cover.png");
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    background-attachment: fixed;
}

#blurBox {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    top: 50%;
    z-index: 10;
    color: white;
    padding: 24px;
}

#blurBox > p:first-child {
    margin: 0px;
}

#blurBox > p:nth-child(2) {
    margin-bottom: 5px;
}

#blurBox > p:last-child > button {
    margin-right: 10px;
}

#blurBoxTitle {
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
}

#content {
    padding: 20px;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #f9f9f9;
}

#archives {
    padding: 30px;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 25px;
}

#archives > div:nth-child(2) {
    margin-bottom: 0px;
}

#archives > div:nth-child(3) > div > div > ul > li > div {
    margin-bottom: 0px;
}

#archives > div:nth-child(3) > div > div > ul > li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#archives > div:nth-child(3) > div > div > ul > li > div > div > div > div > span {
    margin-right: 20px;
}

#archives > div:nth-child(3) > div > div > ul > li > div > div > div > div {
    margin-bottom: 10px;
}

#essays {
    padding: 30px;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 25px;
}

#essays > h3 > i {
    margin-right: 7px;
}

#essays > div:nth-child(2) {
    margin-bottom: 10px;
}

#essays > div:nth-child(3) > div > div > ul > li > div {
    margin-bottom: 10px;
}

#essays > div:nth-child(3) > div > div > ul > li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#archives > h3 > i {
    margin-right: 7px;
}


