#logo {
    margin: 0px;
}

#logoItem {
    color: #ffffff00;
    border-bottom: 2px solid #ffffff00;
    transition: all 0.2s ease-in-out;
}

#logoItem:hover {
    transform: rotate(180deg);

}

#searchMenu {
    color: #ffffff00;
    border-bottom: 2px solid #ffffff00;
    cursor: default;
    float: right;
}

#searchMenu > span {
    vertical-align: middle;
}

#searchMenu > span > span > span > button > i {
    margin: 0px;
}


