#listArticle {
    float: right;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: 100vh;
}

#listArticle > span {
    align-self: flex-end;
    margin-bottom: 20px;
    width: 20%;
}

#articleList {
    height: 100vh
}

#articleList > div:nth-child(2){
    text-align: center;
}