#addArticle {
    float: right;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

#articleTitle {
    margin-bottom: 20px;
}

#tags {
    margin-bottom: 20px;
}

#saveButton {
    text-align: center;
    margin-top: 30px;
}

#saveButton > button:first-child {
    margin-right: 30px;
}